src/main/app/ms3-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    
    <http:request-config name="HTTPS_Request_Configuration"  host="${http.proc.host}" port="${http.proc.port}" doc:name="HTTP Request Configuration">
        <http:basic-authentication username="admin" password="admin" preemptive="true"/>
    </http:request-config>
    <flow name="implementationFlow-GET">
        <logger message="GET Started" level="INFO" doc:name="Logger"/>
        <expression-component doc:name="Set Error Var"><![CDATA[flowVars.status = "failure"; 
flowVars.errorCode = "500";
flowVars.errorType = "Internal Server Error";
flowVars.errorMessage = "Proc API Service call failed";]]></expression-component>
        <http:request config-ref="HTTPS_Request_Configuration" path="${http.proc.path}/proc/contact/#[flowVars.contactId]" method="GET" doc:name="Invoke proc API"/>
        <exception-strategy ref="doc-globalCatch_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
     
    <flow name="implementationFlow-POST">
        <logger message="POST Started " level="INFO" doc:name="Logger"/>
       <!--  <dw:transform-message doc:name="Transform Message" metadata:id="2a2f19c2-4fc6-4814-be44-c3f33d0dacac">
            <dw:input-payload doc:sample="sample_data\json.json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json

{
	Identification: {
		FirstName: payload.Identification.FirstName,
		LastName: payload.Identification.LastName,
		DOB: payload.Identification.DOB,
		Gender: payload.Identification.Gender,
		Title: payload.Identification.Title
	},
	Address: payload.Address map ((address , indexOfAddress) -> {
		type: address.type,
		number: address.number,
		street: address.street,
		Unit: address.Unit,
		City: address.City,
		State: address.State,
		zipcode: address.zipcode
	}),
	Communication: payload.Communication map ((communication , indexOfCommunication) -> {
		type: communication.type,
		value: communication.value,
		preferred: communication.preferred
	})
}]]></dw:set-payload>

        </dw:transform-message> -->
        <expression-component doc:name="Set Error Var"><![CDATA[flowVars.status = "failure"; 
flowVars.errorCode = "500";
flowVars.errorType = "Internal Server Error";
flowVars.errorMessage = "Proc API Service call failed";]]></expression-component>
        <http:request config-ref="HTTPS_Request_Configuration" path="${http.proc.path}/proc/contact" method="POST" doc:name="Invoke Proc API"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>

        <exception-strategy ref="doc-globalCatch_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="implementationFlow-PUT">
        <logger level="INFO" doc:name="Logger" message="PUT Started"/>

        <expression-component doc:name="Set Error Var"><![CDATA[flowVars.status = "failure"; 
flowVars.errorCode = "500";
flowVars.errorType = "Internal Server Error";
flowVars.errorMessage = "Proc API Service call failed";]]></expression-component>
        <http:request config-ref="HTTPS_Request_Configuration" path="${http.proc.path}/proc/contact/#[flowVars.contactId]" method="PUT" doc:name="Invoke Proc API"/>

        <exception-strategy ref="doc-globalCatch_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="implementationFlow-DELETE">
        <logger level="INFO" doc:name="Logger" message="DELETE Started"/>
        <expression-component doc:name="Set Error Var"><![CDATA[flowVars.status = "failure"; 
flowVars.errorCode = "500";
flowVars.errorType = "Internal Server Error";
flowVars.errorMessage = "Proc API Service call failed";]]></expression-component>
        <http:request config-ref="HTTPS_Request_Configuration" path="${http.proc.path}/proc/contact/#[flowVars.contactId]" method="DELETE" doc:name="Invoke Proc API"/>


        <exception-strategy ref="doc-globalCatch_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
</mule>
